<section class="pagination d-flex justify-content-between">
    <%if(page != 1) { %>
    <a class="btn btn-primary m-1"  href="/prove09/?page=1">First</a>
    <% } %>
    <% if(hasPreviousPage && previousPage != 1) { %>
    <a class="btn btn-primary m-1" href="/prove09/?page=<%= previousPage %>">Prev</a>
    <% } %>
    
    <% if(hasNextPage && nextPage != lastPage) { %>
    <a class="btn btn-primary m-1"  href="/prove09/?page=<%= nextPage %>">Next</a>
    <% } %>
    <% if(page != lastPage) { %>
    <a class="btn btn-primary m-1"  href="/prove09/?page=<%= lastPage %>">Last</a>
    <% } %>
</section>