<%- include('../includes/head.ejs') %>
  <%- include('../includes/header.ejs') %>
    <div class="container">
      <h1>Pokemon List</h1>
      <div class="card border-primary m-2 col-md-3"  >
        <div class="card-header text-center"><h4>gotta catch em all</h4></div>
        <div class="card-body">
      <div class="cardContainer mt-2 text-justify">
        <ul id="pokeList" class="">
        </ul>
        </div>
        <button class="btn btn-primary centered id="prevBtn">Previous</button>
        <button class="btn btn-primary right id="nextBtn"> Next </button>
      </div>
    </div>

</div>
    
    </div>
    <%- include('../includes/footer.ejs') %>