<%- include('../includes/head.ejs') %>
  <%- include('../includes/header.ejs') %>
    <div class="container">
      <h1>Welcome</h1>
      <body style="background-color: #343a40;">
        <div class="row m-0 p-0 justify-content-center mt-3">
            <div class="col-12" style="text-align: center;">
                <h1 style="color: white">Welcome to the Pokemon Activity</h1>
            </div>
            <div class="col-12" style="text-align: center;">
                <a href="http://localhost:5000/pokemon/1">Go to Activity</a>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>