<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<div class="d-flex justify-content-center p-2">
  <h1>Operation S.H.E.I.L.D.</h1>
</div>
<div class="d-flex justify-content-center">
  <div class="card border-primary  col-md-4">
    <div class="card-header text-center">
      <h2>Avengers</h2>
    </div>
    <div class="card-body p-2">     
      <ul id="nameList" class="list-group">

        </ul>
        <div class="card border-primary p-3">
        <form>
          <label class="form-label">Hero Name:</label>
          <input type="text" id="heroName" class="form-control">
            <label class="form-label">Real Name:</label>
            <input type="text" id="newName" class="form-control">
            <button class="btn btn-outline-info mt-2" id="submitName" onclick="submitName()">Submit</button>
        </form>  
      </div>
        <br>   
    </div>
  </div>
</div>
<script src="../js/prove10.js"></script>
<%- include('../includes/footer.ejs') %>