<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<div class="hero-body is-fullheight">
    <div class="container has-text-centered is-fullheight">
        <div class="column is-6 is-offset-3 is-fullheight">
            <h1 class="home">
                Welcome <br>
                Fellow Goblins!
            </h1>
            <h2 class="welcome">
                You'll not find finer dice in all the land.
            </h2>
                        </div>

            </div>
</div>  