<form class="navbar-item" action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="button is-white is-outlined" type="submit"> <span class="icon"><i class="fas fa-plus"></i></span><span>Add to Cart</span></button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>
