<%- include('./includes/head.ejs') %>
  <%- include('./includes/header.ejs') %>

     
    <main class="d-flex p-4 justify-content-center">
      <div class="card text-white bg-secondary mt-5  text-center" style="max-width: 30rem;">
        <div class="card-header p-3">Welcome to my Prove Page for week 10!</div>
        <div class="card-body ">
          <h4 class="card-title p-3">Let's hop in and see how it went</h4>
          <a class="card-text "><a class="btn btn-primary p-3" href="/prove10">Let's Go</a>
        </div>
    </main>
    <!-- <div class="d-flex card border-primary m-2" style="max-width: 20rem;">
      <div class="card-header">
        <h5>Login</h5>
      </div>
      <div class="card-body">
        <form class="login-form" action="/login" method="POST">
          <div class="form-group">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
            <label for="Password" class="form-label mt-4">Password</label> <span class="reset"> <a href="/reset">Forgot password?</a></span>
            <input type="password" class="form-control" id="Password" placeholder="Password">
            <button type="submit" class="btn btn-outline-primary mt-4">Login</button>
          </div>
        </form> 

      </div>
    </div>
  -->

 
    <%- include('./includes/footer.ejs') %>