@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


:root {
  --dark: #202020;
  --grey: #d7d7d7;
  --yellow: #f9f148;
  --red: #f94c48;
  --blue: #303ca0;
  --green: #66fb49;
  --purple: #14032f;
  --white: #f2f2f2;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    color: var(--dark);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--white);
    margin: 0;
    padding: 1em 0em;
    
  }

  h2 {
    font-family: 'Bangers', cursive;
    color: var(--green);
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: var(--dark);
    
  }
  
  h3 {
    font-family: 'Bangers', cursive;
    color: var(--yellow);
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: var(--dark);
    
  }
  
  h4 {
    font-family: 'Bangers', cursive;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    text-align: start;
  }
  
  h5 {
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    font-size: 30px;

  }
  
  a  {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    color: darkblue
  }
  

  li {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    background: var(--dark);
  
}

.title {
  font-size: 7rem;
  text-align: center;
  padding: 0px;
  margin: 0;
}

.taForm {
  max-width: 500px;
  display: flex;
  padding: 1em 1em 1em;
  margin: 10px auto 10px;
  flex-direction: column;
}

.fail {
    font-family: 'Limelight', cursive;
    text-align: center;
    color: var(--red);
}

.success {
    font-family: 'Limelight', cursive;
    text-align: center;
    color: var(--green);
}

label, input, submit {
    display: block;
      box-sizing: border-box;
      width: 100%;
      outline: none;
      padding: 5px;
      margin-top: 10px;
      margin:0;
    }

    hr {
        border: 1;
        height: 5px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
    }

    html {
      height: 100%;
      overflow-x: hidden;
    }
    
    body {
      margin: 0 auto;
      width: 100%;
      color: var(--white);
      background:  var(--purple);
      background: url("https://rodeeo.github.io/CSE341-S2021/cse341-project-master/public/images/diceWallpaper2.jpg") center;
      font-family: 'Open Sans', sans-serif;
      position: relative;
      min-height: 100%;
      min-height: 100vh;
    }
    
    body a {
      color: var(--purple);
    }
    
    main {
      padding: 1rem;
      margin: auto;
      overflow: auto;
      padding-bottom: 5em;
    }
    
    form {
      display: inline;
    }
    
    .intro {
      background-color: var(--purple);
      text-align: center;
      padding: 20px 15px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
    
    .link {
      color: var(--blue);
    }
    
    .footer {
      height: 4em;
      background: var(--dark);
      vertical-align: middle;
      display: flex;
    }
    
    .ftr {
      text-decoration: none;
      color: #6a768a;
    }
    
    .cart-list {
      list-style: none;
      display: inline;
      vertical-align: middle;
      max-width: 90%;
      margin: 0;
      padding: 0;
      margin: auto;
      width: 40rem;
      max-width: 90%;
    }
    
    .cart-item {
      height: 4em;
      background:  var(--dark);
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1em 0em;
      padding: 1rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
    
    .cart-item:hover {
      background: var(--blue);
    }
    
    .cart-text {
      vertical-align: middle;
      display: inline-flex;
      align-items: center;
      margin-right: 1rem;
      margin: 0;
      text-decoration: none;
      color: var(--white);
    }
    
    .constrained-height {
      height: 4em;
      width: auto;
      padding: 0em 1em;
    }
    
    .constrained {
      height: auto;
      max-width: 100%;
    }
    
    .centered {
      text-align: center;
    }
    
    .main-header {
      height: 100%;
      background-color: var(--dark);
      overflow: hidden;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      align-items: center;
    }
    
    .main-header__nav {
      height: 100%;
      display: none;
      align-items: center;
      background: var(--dark);
    }
    
    .main-header__item-list {
      list-style: none;
      display: flex;
      list-style-type: none;
      -webkit-padding-start: 0;
      margin: 0.8em 0;
      padding: 0px;
    
    }
    
    .main-header__item a {
      text-decoration: none;
      color: var(--white);
      text-align: center;
      padding: 14px 16px;
      font-size: 17px;
      margin: 0;

    }
    
    .main-header__item a:hover {
      background-color: var(--green);
      color: var(--purple);
    }
    
    .main-header__item a:active,
    .main-header__item a.active {
      background-color: var(--green);
      color: var(--dark);
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
    }
    
    .mobile-nav {
  
      height: 100vh;
      max-width: 90%;
      position: fixed;
      left: 0;
      top: 0;
      background: #303ba05d;
      z-index: 10;
      padding: 2rem 1rem 1rem 2rem;
      transform: translateX(-100%);
      transition: transform 0.3s ease-out;
    }
    
    .mobile-nav.open {
      transform: translateX(0);
    }
    
    .mobile-nav__item-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    
    .mobile-nav__item {
      margin: 1rem;
      padding: 0;
      background-color:transparent;      
    }
    
    .mobile-nav__item a,
    .mobile-nav__item button {
      font: inherit;
      text-decoration: none;
      color:  var(--green);
      font-size: 1.5rem;
      padding: 0.5rem 2rem;
      background: transparent;
      border: solid #fff0;
      cursor: pointer;
      overflow-x:hidden;
    }

    .mobile-nav__item a:active,
    .mobile-nav__item a:hover,
    .mobile-nav__item a.active,
    .mobile-nav__item button:hover,
    .mobile-nav__item button:active {
      border-radius: 3px;
      border: solid var(--yellow);
      overflow-x:hidden;
    }
    
    
    #toggleMenu {
      border: 1px solid  var(--white);
      font: inherit;
      padding: 0.5rem;
      display: block;
      background: transparent;
      color: white;
      cursor: pointer;
    }
    
    #toggleMenu:focus {
      outline: none;
    }
    
    #toggleMenu:active {
      background-color:var(--yellow);
      color:  var(--purple);
    }
    
    #toggleMenu:hover {
      background-color: var(--purple);
      color: var(--white);
    }
    
    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      z-index: 5;
      display: none;
    }
    
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch;
    }

    .card {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
    
    .item {
      max-width: 300px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }

    .itemheader,
.itemcontent {
  padding: 1rem;
}

.itemheader h1,
.itemcontent h1,
.itemcontent h2,
.itemcontent p {
  margin: 0;
}

.itemTitle {
font-size: 1.6em;
text-align: center;}
    
    .itemHeader,
    .itemContent {
      background: var(--dark);
      padding: 1rem;
    }
    
    .itemImage {
      width: 100%;
    }
    
    .itemImage img {
      width: 100%;
    }
    
    .itemButtons {
      padding: 1rem;
      text-align: center;
    }
    
    .itemButtons button,
    .itemButtons a {
      margin: 0 0.25rem;
    }

  .btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid var(--dark);
    color:var(--purple);
    background: var(--grey);
    border-radius: 3px;
    cursor: pointer;
  }    

.btn.danger {
  color: red;
  border-color: red;
}

.btn:hover,
.btn:active {
  background-color: var(--green);
  color: var(--dark);
}


@media (min-width: 768px) {

  body {
    background: url("https://rodeeo.github.io/CSE341-S2021/cse341-project-master/public/images/diceWallpaper1.jpg") center;
  }

  .main-header__nav {
    display: flex;
  }

  #toggleMenu {
    display: none;
  }
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid  var(--grey);
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color:  var(--dark);
}

@media (min-width: 1260px) {
  body {
    width: 1200px;
  }
}