@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

.jumbotron {
  background: #0065BD;
  color: white;
  padding-bottom: 80px; 
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; 
}

.jumbotron .btn-primary:hover {
  background: #7646c1; 
}
  
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}
  
.navbar + .jumbotron {
  margin-top: -20px; 
}
  
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .lang-logo img {
  max-width: 100%; 
}

.logo {
  width: 5rem;
  height: 5rem;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  
}
li {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    color: darkblue
  
}
pre {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    color: darkblue
  }

a  {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  color: darkblue
}

